

/* Hero Styles */
.hero {
  background-image: url('hero-background.jpg');
  background-size: cover;
  background-position: center;
  color: #fff;
  padding: 50px 0;
}

.hero-container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
}
/* Hero Slider */
.slider-container {
  flex: 1;
  position: relative;
  overflow: hidden;
}

.slider-wrapper {
  display: flex;
  transition: transform 0.3s ease;
}

.slider-slide {
  flex: 0 0 100%;
}

.slider-slide img {
  width: 100%;
  height: auto;
}

.slider-slide img:hover {
  transform: scale(1.3);
  transition: transform 0.7s ease;
}

.slider-thumbnails {
  position: relative;
  display: flex;
  justify-content: center;
  justify-content: space-around;
  margin-top: 20px;
  margin-left: 15px;
  min-height: 100px;
  align-items: center;
}

.slider-thumbnail {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  cursor: pointer;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
  border: 1px solid black;
  transform: scale(1.8);
}

.slider-thumbnail img {
  width: 100px;
  height: 50px;
}

/* Hero Description */
.description-container {
  flex: 1;
  padding-left: 50px;
  color: #5a1f06;
}

.description-container h1 {
  font-size: 48px;
  margin-bottom: 20px;
}

.description-container p {
  font-size: 24px;
  margin-bottom: 40px;
}

.cta-button {
  display: inline-block;
  background-color: #ff6f00;
  color: #fff;
  font-size: 18px;
  padding: 10px 30px;
  border-radius: 5px;
  text-decoration: none;
}

.cta-button:hover {
  background-color: #ff8f00;
}

/* Slider controls */

.slider-controls {
  position: absolute;
  top: 90%;
  transform: translateY(-50%);
  width: 100%;
}

.arrow {
  font-size: 36px;
  color: #c52525;
  cursor: pointer;
  transition: opacity 0.3s ease;
}

.arrow:hover {
  opacity: 0.7;
}

.arrow-left {
  font-size: 36px;
  color: #c52525;
  cursor: pointer;
  transition: opacity 0.3s ease;
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
}

.arrow-right {
  font-size: 36px;
  color: #c52525;
  cursor: pointer;
  transition: opacity 0.3s ease;
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
}
