:root{
  --color-primary: #606c5d;
  --color-secondary: #fff4f4;
  --font-family: Arial, sans-serif;
  --line-height: 1.5;
}


/* Global Styles */
body {
  font-family: var(--font-family);
  line-height: var(--line-height);
}

.container {
  max-width: 960px;
  margin: 0 auto;
  padding: 20px;
}