/* Header */

nav ul {
  list-style: none;
  display: flex;
}

nav ul li {
  margin-right: 30px;
}

nav ul li a {
  text-decoration: none;
  text-transform: capitalize;
  color: var(--color-secondary);

}

/* Responsive menu */
.burger-menu {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.bar {
  width: 25px;
  height: 3px;
  background-color: var(--color-secondary);
  margin: 4px;
}

/* Media queries */
@media (max-width: 768px) {
  .burger-menu{
    display: flex;
  }

  .nav-menu{
    display: none;
  }

  .nav-menu.show{
    display: block;
  }

  .nav-menu li{
    text-align: center;
    margin-bottom: 10px;
  }
}
