
    /* Media queries */
    @media only screen and (max-width: 768px) {
      .navbar-search {
        display: none;
      }

      .navbar-links {
        display: none;
      }

      .toggle-menu {
        display: block;
      }

      .navbar {
        justify-content: space-between;
        padding: 10px;
      }

      .navbar-logo {
        margin-left: 10px;
      }

      .toggle-menu {
        margin-right: 10px;
      }

      .main {
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        gap: 10px;
      }

      .hero {
        padding: 50px;
      }
    }